@model QL_KT_xa_sin_vien.Models.Phong

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Phong</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaPhong" />
            <div class="form-group">
                <label asp-for="ToaNha" class="control-label"></label>
                <select asp-for="ToaNha" class="form-control" asp-items="ViewBag.ToaNha"></select>
                <span asp-validation-for="ToaNha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tang" class="control-label"></label>
                <input asp-for="Tang" class="form-control" />
                <span asp-validation-for="Tang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiPhong" class="control-label"></label>
                <input asp-for="LoaiPhong" class="form-control" />
                <span asp-validation-for="LoaiPhong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SucChua" class="control-label"></label>
                <input asp-for="SucChua" class="form-control" />
                <span asp-validation-for="SucChua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongDangO" class="control-label"></label>
                <input asp-for="SoLuongDangO" class="form-control" />
                <span asp-validation-for="SoLuongDangO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiTinh" class="control-label"></label>
                <input asp-for="GioiTinh" class="form-control" />
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
