@using System.Text.Json
@model QL_KT_xa_sin_vien.Models.HoaDon

@{
    ViewData["Title"] = "Thêm hóa đơn";
}
@if (TempData["ErrorMessage"] != null)
{
    <script>
        var msg = @Html.Raw(JsonSerializer.Serialize(TempData["ErrorMessage"]?.ToString()));
        Swal.fire({
        icon: 'error',
        title: 'Thông báo',
        text: msg,
        confirmButtonText: 'OK'
        });
    </script>
}
@if (TempData["SuccessMessage"] != null)
{
    <script>
        var msg = @Html.Raw(JsonSerializer.Serialize(TempData["SuccessMessage"]?.ToString()));
        Swal.fire({
        icon: 'success',
        title: 'Thông báo',
        text: msg,
        confirmButtonText: 'OK'
        });
    </script>
}
<h2 class="mb-4">Thêm hóa đơn mới</h2>

<div class="card shadow-sm">
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

            <div class="mb-3">
                <label asp-for="MaHoaDon" class="form-label"></label>
                <input asp-for="MaHoaDon" class="form-control" />
                <span asp-validation-for="MaHoaDon" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="MaHopDong" class="form-label"></label>
                <select asp-for="MaHopDong" class="form-select" asp-items="ViewBag.MaHopDong"></select>
            </div>

            <div class="mb-3">
                <label asp-for="MaSv" class="form-label"></label>
                <select asp-for="MaSv" class="form-select" asp-items="ViewBag.MaSv"></select>
            </div>

            <div class="mb-3">
                <label asp-for="SoTien" class="form-label"></label>
                <input asp-for="SoTien" type="number" class="form-control" />
                <span asp-validation-for="SoTien" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="TrangThai" class="form-label"></label>
                <select asp-for="TrangThai" class="form-select">
                    <option value="Đã thanh toán">Đã thanh toán</option>
                    <option value="Chưa thanh toán">Chưa thanh toán</option>
                </select>
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="NgayXuat" class="form-label"></label>
                <input asp-for="NgayXuat" type="date" class="form-control" />
                <span asp-validation-for="NgayXuat" class="text-danger"></span>
            </div>

            <div class="mt-3">
                <button type="submit" class="btn btn-primary me-2">Tạo mới</button>
                <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
