@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        @if (TempData["ErrorMessage"] != null)
        {
            <script>
                Swal.fire({
                icon: 'error',
                title: 'Thông báo',
                text: '@TempData["ErrorMessage"]',
                confirmButtonText: 'OK'
                });
            </script>
        }

}
<link href="~/css/dangnhap.css" rel="stylesheet" />
<div class="login-box">
    <h2>ĐĂNG NHẬP</h2>
    <p class="text-center">Thông tin đăng nhập hệ thống</p>
    <form asp-action="DangNhap" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Tài khoản:</label>
            <input type="text" id="username" name="username" value="@ViewBag.Username" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Mật khẩu:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
       
        <div class="d-flex justify-content-between mt-3">
            <button type="submit" class="btn btn-primary">Đăng nhập</button>
            <button type="button" onclick="location.href='@Url.Action("TaoTaiKhoan")'" class="btn btn-info w-50">Đăng ký</button>
        </div>
        <div class="mb-3">
            <button type="button" onclick="location.href='@Url.Action("QuenMatKhau")'" class="btn btn-warning w-100 ">Quên mật khẩu</button>
        </div>
    </form>
</div>
