

<form asp-action="DangNhap" method="post">
    <div class="form-group">
        <label for="username">Tên đăng nhập</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="form-group">
        <label for="password">Mật khẩu</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div>
        <p>@ViewBag.ErrorMessage</p>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Đăng nhập</button>
        <a asp-action="TaoTaiKhoan" class="btn btn-info">Tạo tài khoản</a>
    </div>
</form>