@model QL_KT_xa_sin_vien.Models.SinhVien


<body>
    <div>
        <h1>Thông tin cá nhân</h1>
        <p>Mã sinh viên: @Model.MaSv</p>
        <p>Họ tên: @Model.HoTen</p>
        <p>Lớp: @Model.Lop</p>
    </div>
    <div>
    </div>
</body>